html,
body {
  color: gray;
  background: #fff;
  font-size: 16px;
  font-family: Helvetica,Arial,sans-serif;
}

h1 {
  text-align: center;
  color: #4CAF50;
  text-transform: uppercase;
  text-decoration: underline;
}

button {
  background-color: white;
  border: 2px solid #4CAF50;
  color: gray;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 20px;
}

button:hover {
  background-color: #4CAF50;
  color: white;
}

button.clicked {
  background-color: #4CAF50;
  color: white;
}

.center {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

table, th, td {
  border: 2px solid #4CAF50;
}

table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  border-collapse: collapse;
  overflow: hidden;
}

td {
  text-align: center;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  height: 150px;
}

tr:nth-child(even){background-color: #f2f2f2;} /* Creates striped table */

th {
  background-color: #4CAF50;
  color: white;
}
